/* Add CSS Styling */

.odd{
    background-color: #f8a7a7;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two{
    color:#1900ff;
    font-size: 36px;
}

.odd.three{
    font-size: 24px;
}

#four{
    background-color: #aafab4;
    font-size: 24px;
    font-weight: bold;
}